<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Dear: <span style="font-weight: bold" th:each="dear, iterStat : ${dears}" th:text="${dear} + ${!iterStat.last ? ', ': ''}">Mr</span>
</p>
<p>
    My name is <span th:text="${sendBy}">${sendBy}</span> on <span th:text="${team}">${team}</span>
</p>
<p> I would like to ask permission off work from <span th:text="${fromDate}">${fromDate}</span> to <span th:text="${toDate}">${toDate}</span> because <span th:text="${reason}">${reason}</span> </p>
<p> Please let me known if I can provide any further information regarding <a th:href="${link}">this request</a></p>

<p>Thank you very much for your consideration</p>

<p>
    Regards, <br/>
    <span th:text="${sendBy}">${sendBy}</span>
</p>
</body>
</html>